# PROJECT 1
## DATA CLEANING AND TRANSFORMATION

In [1]:
from IPython.display import Image
img = 'Data with mo.png'
Image(url=img, width=500, height=200)

The aim of this project is answer the question from channel data with mo <https://www.youtube.com/watch?v=wObV_hwu2QM>

In [2]:
img = 'Option1.png'
Image(url=img)

Dataset from [kaggle.com](https://www.kaggle.com/datasets/yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring?select=fifa21_raw_data.csv%E2%80%8B)

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('fifa21 raw data v2.csv')

C:\Users\muham\AppData\Local\Temp\ipykernel_10988\235989469.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('fifa21 raw data v2.csv')

In [5]:
#pip install ydata-profiling

In [6]:
#from ydata_profiling import ProfileReport

In [7]:
#profile = ProfileReport(df, title="Profiling Report")

In [8]:
#profile

In [9]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   â†“OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

### Q1 : Do the Height and weight column have the appropriate data types?

In [222]:
# Check data types
df[['Height','Weight']].dtypes

Height    object
Weight    object
dtype: object

In [223]:
# Check column
df[['Height','Weight']].head(3)

  Height Weight
0  170cm   72kg
1  187cm   83kg
2  188cm   87kg

#### Height column change

In [224]:
# Remove "cm"
df['Height'] = df['Height'].str.strip('cm')

In [225]:
pd.to_numeric(df['Height'])

ValueError: Unable to parse string "6'2"" at position 793

In [226]:
df['Height'][793]

'6\'2"'

I assume that a Inches value, convert to cm is best solution

In [201]:
# Check quotation mark (")
mask = (df['Height'].str.endswith('"'))

In [203]:
# Change all inches into 0 value for numeric types column
df_inch = df[mask]
df.loc[mask, 'Height'] = "0"

In [209]:
# Convert obj to numeric
df['Height'] = pd.to_numeric(df['Height'])

In [210]:
# All inches value are substitute in column and convert it to cm
df.loc[mask, 'Height'] = (df_inch['Height'].str.extract(r"(\d*)'(\d*)")
                   .apply(pd.to_numeric, errors='coerce')
                   .mul([30.48, 2.54]).sum(axis=1).round().astype(int)
                  )

In [189]:
df['Height'].dtypes

dtype('int64')

#### Weight column change

Same case with Height column, same problem solving way

In [206]:
mask = (df['Weight'].str.endswith('lbs'))
df['Weight'] = df['Weight'].str.strip('kglbs')
df['Weight'] = pd.to_numeric(df['Weight'])
df_lbs = df[mask]
df.loc[mask, 'Weight'] = df_lbs['Weight'] * 0.45359237

In [207]:
df['Weight'] = df['Weight'].astype(int)

### Q2 Can you separate Join column into day, month and year

In [227]:
df.Joined

0         Jul 1, 2004
1        Jul 10, 2018
2        Jul 16, 2014
3        Aug 30, 2015
4         Aug 3, 2017
             ...
18974    Jul 13, 2018
18975     Aug 1, 2020
18976     Mar 8, 2019
18977    Sep 22, 2020
18978    Jul 29, 2019
Name: Joined, Length: 18979, dtype: object

In [229]:
df.Joined = pd.to_datetime(df.Joined)

In [230]:
import datetime as dt

In [241]:
df['Joined_day'] = df.Joined.dt.day
df['Joined_month'] = df.Joined.dt.month
df['Joined_year'] = df.Joined.dt.year

In [242]:
df[['Joined', 'Joined_day', 'Joined_month', 'Joined_year']]

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,â†“OVA,POT,Club,...,PAC,SHO,PAS,DRI,DEF,PHY,Hits,oined_day,Joined_month,Joined_year
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,85,92,91,95,38,65,771,1,7,2004
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,89,93,81,89,35,77,562,10,7,2018
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlÃ©tico Madrid,...,87,92,78,90,52,90,150,16,7,2014
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,76,86,93,88,64,78,207,30,8,2015
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,91,85,86,94,36,59,595,3,8,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,247223,Xia Ao,Ao Xia,https://cdn.sofifa.com/players/247/223/21_60.png,http://sofifa.com/player/247223/ao-xia/210006/,China PR,21,47,55,\n\n\n\nWuhan Zall,...,64,28,26,38,48,51,NaN,13,7,2018
18975,258760,B. Hough,Ben Hough,https://cdn.sofifa.com/players/258/760/21_60.png,http://sofifa.com/player/258760/ben-hough/210006/,England,17,47,67,\n\n\n\nOldham Athletic,...,64,40,48,49,35,45,NaN,1,8,2020
18976,252757,R. McKinley,Ronan McKinley,https://cdn.sofifa.com/players/252/757/21_60.png,http://sofifa.com/player/252757/ronan-mckinley...,England,18,47,65,\n\n\n\nDerry City,...,63,39,44,46,40,53,NaN,8,3,2019
18977,243790,Wang Zhen'ao,Zhen'ao Wang,https://cdn.sofifa.com/players/243/790/21_60.png,http://sofifa.com/player/243790/zhenao-wang/21...,China PR,20,47,57,\n\n\n\nDalian YiFang FC,...,58,49,41,49,30,44,NaN,22,9,2020
18978,252520,Zhou Xiao,Xiao Zhou,https://cdn.sofifa.com/players/252/520/21_60.png,http://sofifa.com/player/252520/xiao-zhou/210006/,China PR,21,47,57,\n\n\n\nDalian YiFang FC,...,62,22,39,42,45,55,NaN,29,7,2019

### Q3 Can you clean Value, Wage and Release Clause Column

In [243]:
df[['Value','Wage','Release Clause']].head()

     Value   Wage Release Clause
0  â‚¬103.5M  â‚¬560K        â‚¬138.4M
1     â‚¬63M  â‚¬220K         â‚¬75.9M
2    â‚¬120M  â‚¬125K        â‚¬159.4M
3    â‚¬129M  â‚¬370K          â‚¬161M
4    â‚¬132M  â‚¬270K        â‚¬166.5M

In [244]:
df[['Value','Wage','Release Clause']] = df[['Value','Wage','Release Clause']].replace({'â‚¬' : ''}, regex=True)

In [245]:
df[['Value','Wage','Release Clause']] = df[['Value','Wage','Release Clause']].fillna(0)

In [246]:
mp = {'K':' * 10**3', 'M':' * 10**6', 'B':' * 10**9', 't':' * 10**12', 'q':' * 10**15', 'Q':' * 10**15'}
df['Value'] = df['Value'].replace(mp.keys(), mp.values(), regex=True).map(pd.eval).astype(int)
df['Wage'] = df['Wage'].replace(mp.keys(), mp.values(), regex=True).map(pd.eval).astype(int)
df['Release Clause'] = df['Release Clause'].replace(mp.keys(), mp.values(), regex=True).map(pd.eval).astype(int)

In [247]:
df[['Value','Wage','Release Clause']].head()

       Value    Wage  Release Clause
0  103500000  560000       138400000
1   63000000  220000        75900000
2  120000000  125000       159400000
3  129000000  370000       161000000
4  132000000  270000       166500000

In [248]:
df[['Value','Wage','Release Clause']].dtypes

Value             int32
Wage              int32
Release Clause    int32
dtype: object

### Q4 How can you remove the newline character from the Hits column

In [22]:
df.Hits

0        771
1        562
2        150
3        207
4        595
        ...
18974    NaN
18975    NaN
18976    NaN
18977    NaN
18978    NaN
Name: Hits, Length: 18979, dtype: object

In [23]:
# Check nan value
df.Hits.isnull().sum() * 100 / len(df)

13.673007007745403

In [29]:
# Fill na value
df.Hits = df.Hits.fillna(0)

In [30]:
# Change to numeric column
pd.to_numeric(df.Hits)

ValueError: Unable to parse string "1.6K" at position 8

Lets convert(*) "k" to thousand

In [32]:
df.Hits = df.Hits.replace({"K":"*1e3", "M":"*1e6"}, regex=True).map(pd.eval).astype(int)

In [34]:
df.Hits.dtypes

dtype('int32')

### Q5 Should you separate teams & contract column into separate team and contract column

Base on dataset, teams and contract column already separate column but there are problem with them

In [10]:
df[['Club', 'Contract']].head(3)

                      Club     Contract
0     \n\n\n\nFC Barcelona  2004 ~ 2021
1         \n\n\n\nJuventus  2018 ~ 2022
2  \n\n\n\nAtlÃ©tico Madrid  2014 ~ 2023

In [11]:
df[['start_contract','end_contract']] = df['Contract'].str.split('~', expand=True)

In [12]:
df[['start_contract','end_year']]

KeyError: "['end_year'] not in index"

In [13]:
df.start_contract.unique()

array(['2004 ', '2018 ', '2014 ', '2015 ', '2017 ', '2016 ', '2013 ',
       '2011 ', '2009 ', '2005 ', '2010 ', '2012 ', '2019 ', '2020 ',
       '2008 ', '2007 ', 'Jun 30, 2021 On Loan', 'Free', '2002 ',
       'Dec 31, 2020 On Loan', 'Jan 30, 2021 On Loan',
       'Jun 30, 2022 On Loan', 'May 31, 2021 On Loan', '2006 ',
       'Jul 5, 2021 On Loan', 'Dec 31, 2021 On Loan',
       'Jul 1, 2021 On Loan', 'Jan 1, 2021 On Loan',
       'Aug 31, 2021 On Loan', '2003 ', 'Jan 31, 2021 On Loan',
       'Dec 30, 2021 On Loan', 'Jun 23, 2021 On Loan',
       'Jan 3, 2021 On Loan', 'Nov 27, 2021 On Loan',
       'Jan 17, 2021 On Loan', 'Jun 30, 2023 On Loan', '1998 ',
       'Jul 31, 2021 On Loan', 'Nov 22, 2020 On Loan',
       'May 31, 2022 On Loan', 'Dec 30, 2020 On Loan',
       'Jan 4, 2021 On Loan', 'Nov 30, 2020 On Loan',
       'Aug 1, 2021 On Loan'], dtype=object)

In [14]:
# define regular expressions to extract year value
start_regex = r'(\d{4})'
end_regex = r'(On Loan|\d{4})'

In [15]:
# extract year value
df['start_contract'] = df['Contract'].str.extract(start_regex)
df['end_contract'] = df['Contract'].str.extract(end_regex)

In [16]:
df.end_contract = df.end_contract.apply(lambda x: df['start_contract'] if x == 'On Loan' else x)

In [17]:
df.end_contract = pd.to_datetime(df.end_contract, format=('%Y'))
df.start_contract = pd.to_datetime(df.start_contract, format=('%Y'))

In [18]:
import datetime as dt
# years only
df.end_contract = df.end_contract.dt.strftime('%Y')
df.start_contract = df.start_contract.dt.strftime('%Y')

In [19]:
df[['start_contract','end_contract']].head(3)

  start_contract end_contract
0           2004         2004
1           2018         2018
2           2014         2014

In [32]:
#remove '\n' character in teams club
df.Club = df.Club.replace('\n','', regex=True)

In [35]:
df.Club

0               FC Barcelona
1                   Juventus
2            AtlÃ©tico Madrid
3            Manchester City
4        Paris Saint-Germain
                ...
18974             Wuhan Zall
18975        Oldham Athletic
18976             Derry City
18977       Dalian YiFang FC
18978       Dalian YiFang FC
Name: Club, Length: 18979, dtype: object