In [81]:
import pandas as pd

In [82]:
df = pd.read_csv('Uncleaned_DS_jobs.csv')
df.head(3)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

### Q1 Can you make salary column into integers

In [84]:
df['Salary Estimate'].value_counts()

Salary Estimate
$79K-$131K (Glassdoor est.)     32
$99K-$132K (Glassdoor est.)     32
$75K-$131K (Glassdoor est.)     32
$137K-$171K (Glassdoor est.)    30
$90K-$109K (Glassdoor est.)     30
$56K-$97K (Glassdoor est.)      22
$79K-$106K (Glassdoor est.)     22
$90K-$124K (Glassdoor est.)     22
$110K-$163K (Glassdoor est.)    21
$92K-$155K (Glassdoor est.)     21
$138K-$158K (Glassdoor est.)    21
$128K-$201K (Glassdoor est.)    21
$212K-$331K (Glassdoor est.)    21
$95K-$119K (Glassdoor est.)     21
$69K-$116K (Glassdoor est.)     21
$124K-$198K (Glassdoor est.)    21
$112K-$116K (Glassdoor est.)    21
$122K-$146K (Glassdoor est.)    21
$91K-$150K (Glassdoor est.)     21
$101K-$165K (Glassdoor est.)    21
$79K-$147K (Glassdoor est.)     20
$31K-$56K (Glassdoor est.)      20
$145K-$225K(Employer est.)      20
$141K-$225K (Glassdoor est.)    20
$66K-$112K (Glassdoor est.)     20
$80K-$132K (Glassdoor est.)     20
$87K-$141K (Glassdoor est.)     20
$105K-$167K (Glassdoor est.)    20
$79K-$133K (Glassdoor est.)     19
$71K-$123K (Glassdoor est.)     19
Name: count, dtype: int64

In [85]:
df[['Min_salary','Max_salary']] = df['Salary Estimate'].str.split('-', expand=True)

In [86]:
df['Min_salary'] = df['Min_salary'].str.replace("$","")
df['Max_salary'] = df['Max_salary'].str.replace("$","")

In [87]:
df[['Max_salary','unk']] = df['Max_salary'].str.split('(', expand=True)
df.drop(columns='unk', inplace=True)

In [88]:
mp = {'K':' * 10**3', 'M':' * 10**6', 'B':' * 10**9', 't':' * 10**12', 'q':' * 10**15', 'Q':' * 10**15'}
df['Min_salary'] = df['Min_salary'].replace(mp.keys(), mp.values(), regex=True).map(pd.eval).astype(int)
df['Max_salary'] = df['Max_salary'].replace(mp.keys(), mp.values(), regex=True).map(pd.eval).astype(int)

In [89]:
df[['Min_salary','Max_salary']].head(3)

   Min_salary  Max_salary
0      137000      171000
1      137000      171000
2      137000      171000

In [90]:
df.Min_salary.dtypes

dtype('int32')

### Q2 How can you remove the numbers from company

In [91]:
df[['Company Name','unk']] = df['Company Name'].str.split("\n", expand=True)
df.drop(columns='unk', inplace=True)

In [92]:
df['Company Name'].head(3)

0       Healthfirst
1           ManTech
2    Analysis Group
Name: Company Name, dtype: object

### Q3 How can you create some new features?

In [93]:
df[['Location','state', '2']] = df['Location'].str.split(", ", expand=True)

In [94]:
df.drop(columns='2', inplace=True)

In [95]:
df.state

0      NY
1      VA
2      MA
3      MA
4      NY
       ..
667    NJ
668    CA
669    CA
670    CA
671    NY
Name: state, Length: 672, dtype: object

In [96]:
State = pd.read_excel('State_US.xlsx')

State = State.rename(columns={"State" : "state_full", "State2" : "state"})

In [97]:
df = pd.merge(df,
         State[['state_full','state']],
         on = ['state'],
         how = 'left')

In [98]:
df.head(2)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Min_salary,Max_salary,state,state_full
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,New York,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000,171000,NY,New York
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,Chantilly,"Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000,171000,VA,Virginia